<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qf.story">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/duke"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ModifyNicknameActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ModifyBirthdayActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ModifyEmailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.PersonalCenterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ModifySexActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.ModifyPasswordActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.SettingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.MainPageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.StoryDetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.NewStoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".view.MyStoryActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>